$color-black: rgb(0, 0, 0);
$color-gray-0: rgb(67, 67, 67);
$color-gray-1: rgb(127, 127, 127);
$color-gray-2: rgb(227, 227, 227);
$color-gray-3: rgb(247, 247, 247);
$color-white: rgb(255, 255, 255);

$color-0: rgb(250, 203, 65);
$color-1: rgb(255, 102, 0);
$color-2: rgb(138, 192, 86);
$color-3: rgb(135, 208, 234);
$color-4: rgb(86, 188, 177);
$color-5: rgb(0, 102, 179);
$color-6: rgb(219, 78, 122);
$color-7: rgb(209, 10, 69);
$color-8: rgb(160, 80, 154);

$color-10: rgb(160, 160, 160);
$color-11: rgb(212, 242, 245);
$color-12: rgb(10, 90, 225);
$color-13: rgb(0, 0, 100);
$color-14: rgb(250, 155, 80);
$color-15: rgb(255, 90, 70);
